# Configuration Stripe
STRIPE_SECRET_KEY=sk_test_votre_cle_secrete_ici

# Secrets des webhooks
WEBHOOK_SECRET_SNAPSHOT=whsec_ZBrup7oEMxq41NGuD6kVfsQ8BiNYvHps
WEBHOOK_SECRET_THIN=whsec_Uvfxw888jdlp6ZECH8wxtXyJT77MMWld

# Configuration du serveur
PORT=4242
NODE_ENV=development

# URLs des webhooks (pour la production)
WEBHOOK_URL_SNAPSHOT=https://votre-domaine.com/webhook
WEBHOOK_URL_THIN=https://votre-domaine.com/webhook/thin 